header {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    background: #0085FF;
    align-content: center;
    height: 65px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-right: 7%;
}

nav a {
    padding: 1% 2.5%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    color: #0085FF;
    text-decoration: none;
    border-radius: 8px;
    height: 17px;
}

nav h1 {
    padding-right: 10%;
    font-size: 50px;
    color: white;
    margin-top: 5px;
}

a:hover {
    background: #0085FF;
    color: white;
    transition: 1.0s;
}

body {
    background-image: linear-gradient(#0085FF, #0085FF, #8AC7FF, white, white);
    font-family: 'Roboto', sans-serif;
}

.MainCards {
    display: flex;
    justify-content: center;
    border-top: 2px dashed white;
}

.WhatIs {
    width: 35%;
    margin-top: 5%;
}

.WhatIs h1 {
    text-align: center;
    font-size: 2.5rem;
}

.WhatIs p {
    font-size: 1.5rem;
    text-align: center;
}

.WhatIs .friends1 {
    margin-left: 10%;
}

.Mission {
    width: 35%;
    margin-top: 5%;
    margin-left: 10%;
}

.Mission h1 {
    text-align: center;
    font-size: 2.5rem;
}

.Mission p {
    font-size: 1.5rem;
    text-align: center;
}

.Mission .friends2 {
    margin-left: 12%;
}

.SignUp {
    display: flex;
    justify-content: center;
    width: 18%;
    margin-left: 40.5%;
    flex-wrap: wrap;
}

.SignUp h1 {
    font-size: 1.75rem;
}

.SignUp button {
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
    background: #0085FF;
    color: white;
    border-radius: 8px;
}

.SignUp button:hover {
    color: #0085FF;
    background: white;
    transition: 1.0s;
}

.FootNav {
    display: flex;
    justify-content: center;
}

.FootNav nav {
    background: none;
    width: 50%;
}

.FootNav nav a {
    margin-right: 20px;
    background: #0085FF;
    color: white;
}

.FootNav nav a:hover {
    transition: 1.0s;
    background: none;
    color: #0085FF;
}

/* Media Queries below */

@media screen and (max-width: 800px) {

    header {
        margin-left: 3%;
    }

    header nav {
        flex-direction: column;
        height: 100%;
        width: 25%;
        margin-left: 35%;
        margin-bottom: 0px;
    }

    header nav a {
        text-align: center;
    }

    header nav a:hover {
        background: #0085FF;
        color: white;
        transition: 1.0s;
    }

    header nav h1 {
        font-size: 1.5rem;
        padding-left: 15%;
    }

    .MainCards {
        border-top: none;
    }

    .WhatIs h1 {
        font-size: 1.5rem;
    }

    .WhatIs p {
        font-size: 1.25rem;
        text-align: center;
    }

    .WhatIs .friends1 {
        width: 80%;
    }

    .Mission {
        display: none;
    }

    .SignUp {
        width: 35%;
        margin-left: 32%;
    }

    footer {
        width: 100%;
    }

    .FootNav nav {
        background: none;
        width: 100%;
    }

    .FootNav nav a {
        margin-right: 15px;
        background: #0085FF;
        color: white;
    }

    .FootNav nav a:hover {
        transition: 1.0s;
        background: none;
        color: #0085FF;
    }
}

@media screen and (max-width: 500px) {

    header {
        margin-left: 5%;
    }

    .SignUp {
        width: 35%;
        margin-left: 32%;
    }

    .SignUp h1 {
        font-size: 1rem;
    }

    footer nav {
        flex-direction: column;
        height: 100%;
        width: 25%;
        margin-left: 10%;
        margin-bottom: 0px;
    }

    footer nav a {
        text-align: center;
        width: 35%;
        margin-left: 28%;
    }

    header nav h1 {
        font-size: 1.5rem;
        padding-left: 20%;
    }

}